    /* .sem {
        display: flex;
        flex-wrap: wrap;
        align-content: left;
        position: relative;
    }
    
    .modelocom {
        display: flex;
        justify-content: left;
    }
    
    .cabeza {
        display: flex;
        justify-content: left;
        margin: 50px;
    } */
    /* Css de home componten que incluye los modulos del modelo de predicción de incendios y gráfica de histograma */
    /* .informacion {
        margin-top: 50px;
    
        text-align: center;
        font-family: serif;
        font-size: 20px;
        font-weight: bold;
    }
    
    .h4 {
      
        margin-top: 50px;
      
        text-align: center;
        font-weight: bold;
        font-size: 35px;
        font-family: serif;
    } */