<div class="loading" *ngIf="!posts">
    Cargando.....
</div>

<div class="container-fluid mt-3" *ngIf="posts">
    <h1>{{ page_title }}</h1>

    <hr />

    <div class="card-columns">
        <article class="card w-100" *ngFor="let post of posts">
            <div class="card-header">
                <h3>
                    <a [routerLink]="['/entrada', post.id]"> {{ post.title }}</a>
                </h3>
            </div>

            <div class="card-body">
                <!-- imagen -->
                <!-- bonotes de accionL -->

                <div class="post-image w-100" *ngIf="post.image">
                    <img src="{{ url + 'post/image/' + post.image }}" class="w-100" />
                </div>

                <div class="post-image w-100" *ngIf="!post.image">
                    <img src="https://i.pinimg.com/236x/9a/a8/68/9aa868785a0caeac3002fd03f7f28c42--latin-party-latin-music.jpg" />
                </div>

                <div class="post-buttons mt-3">
                    <a [routerLink]="['/entrada', post.id]" routerLinkActive="router-link-active" class="btn btn-success mtl-3">Leer</a
          >

          <span *ngIf="identity && identity.sub == post.user_id">
            <a
              [routerLink]="['/editar-entrada', post.id]"
              routerLinkActive="router-link-active"
              class="btn btn-warning ml-3"
              >Editar</a
            >
            <!-- <a (click)="deletePost(post.id)" class="btn btn-danger ml-3" > Borrar</a> -->

                    <button type="button" class="btn btn-info ml-3" data-toggle="modal" data-target="#myModal">
              Borrar
            </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                      &times;
                    </button>
                                    <h4 class="modal-title">
                                        ¿Seguro que quieres borrar esta entrada?
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>Esta entrada se borrara permanentemente</p>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="deletePost(post.id)" class="btn btn-danger ml-3" data-dismiss="modal">
                      Borrar
                    </a>

                                    <button type="button" class="btn btn-warning ml-3" data-dismiss="modal">
                      Close
                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
<br />
<br />