<!-- Tarjeta que muestra la información de contacto de CORENADR -->



<div class="card animated fadeIn slow" style="width: 18rem;">
    <img src="../../../assets/img/altepetl.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text animated fadeIn fast">
            <strong>SECRETARÍA DEL MEDIO AMBIENTE/CORENADR</strong><br>
            <strong>Atención ciudadana: </strong><br>
            <strong>Dirección:&nbsp; </strong>Av. Año de Juárez<br> 9700 Quirino Mendoza, Pueblo de<br> San Luis Tlaxialtemalco,<br> Xochimilco, Distrito Federal<br> 16610 México, Belisario<br> Domínguez 9700, San Luis<br> Tlaxialtemalco, 16610 Ciudad
            de
            <br> México, CDMX<br>
            <strong>Teléfonos: &nbsp;</strong> 55 58433476<br>

            <strong>Horario:&nbsp;</strong> Lunes a viernes de 08:00 a 20:00 horas<br>
        </p>
    </div>
</div>