/* .sem {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
} */


/* .modelocom {
    display: flex;
    justify-content: center;
} */


/* 
.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.footer {
    position: relative;
    bottom: 10px;
} */